@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Rancho&family=Sedgwick+Ave&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding:0 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding:30px 0;
    font-family: 'Sedgwick Ave', cursive;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding:15px 0;
    background-color: crimson;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    text-decoration: none;
    font-weight: 600;
    color:white;
    font-size: 35;

}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: white;
}
.navbar .nav-links li{
    list-style: none;
    display: inline-block;
}

 .navbar .nav-links li a{
    text-decoration: none;
     color: white;
     font-size: 18px;
     font-weight: 500;
     margin-left: 25px;
     transition: color 0.3s ease;
 }
 .navbar .nav-links li a:hover{
    color: black;
    background-color: white;
    font-size: 20px;
    padding:20px;
}
.navbar .nav-links li a:active{
    background-color: rgb(199, 93, 199);

}
.navbar.sticky .nav-links li a:hover{
    color:black;
}
.menu-btn{
    color:white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    background-image:url("pppp.jpg") ;
    background-size:cover;
    height: 100vh;
    
    color:#fff;
    min-height:500px;
    font-family: 'Sedgwick ave', sans-serif;  
  }
  
  .home .max-width{
      margin: auto 0 auto 40px;
  
  }
  .home .home-content .text-1{
      font-size:27px;
  }
  .home .home-content .text-2{
      font-size:70px;
  }
  .home .home-content .text-3{
      font-size:27px;
  }
  .home .home-content .text-3 span{
      color: red;
      font-size:27px;
  }

  .home .home-content a{
      font-family: 'Times New Roman', sans-serif;
      display: inline-block;
      background-color: crimson;
      color:white;
      text-decoration: none;
      font-size: 25px;
      padding: 12px 36px;
      margin-top: 20px;
      border-radius: 6px;
      border: 2px solid crimson;
  }

.home .home-content a:hover{
    background-color: black;
    color: crimson;
    
}
.home .home-content a:active{
    background-color:rgb(114, 218, 114)
}

/* about styling */
section{
    padding:100px 0;
}
    
.about,.contact{
    font-family: 'Dongle', sans-serif;
}
.resume .title,
.contact .title,
.skills .title,
.about .title{
    position: relative;
    text-align:center;
    font-size:40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Rancho', cursive;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(8, 8, 8);
    transform: translateX(-50%);
}
.about .title::after{
    content: "Who I Am";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: rgb(250, 249, 249);
    transform: translateX(-50%);
}
.contact .contact-content,
.skills .skills-content,
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .left,
.skills .skills-content .left,
.about .about-content .left{
    width:45%;
}
.contact .contact-content .right,
.skills .skills-content .right,
.about .about-content .right{
    width:55%;
}
.about .about-content .left img{
    height:500px;
    width:400px;
    object-fit:cover;
    border-radius: 6px;
}

.about .about-content .right .text{
    font-size:32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .right .text span,
.about .about-content .right .text span{
    color: rgb(216, 18, 18);
}

.skills .skills-content .right,
.about .about-content .right p{
    font-size: 20px;
    text-align:justify ;
}
.about .about-content .right a{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    padding: 1px 36px;
    margin-top: 20px;
    background-color: crimson;
    color: white;
    border:2px solid crimson;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    background-color: white;
    color: black;
}

.resume{
    background-image: url("blackk.jpg");
}
.resume .resume-content img{
    display: block;
    margin: 50px auto 0 auto;
    object-fit:cover;
    border-radius: 6px;
}
.resume .title{
    color: white;
}
.resume .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(255, 251, 251);
    transform: translateX(-50%);
}
.resume .title::after{
    content: "My Backgound";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: black;
    transform: translateX(-50%);
}

.resume .resume-content a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    padding: 1px 36px;
    margin: 50px auto 0 auto;
    background-color: crimson;
    color: white;
    border:2px solid crimson;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-family: 'Dongle', sans-serif;
    text-align: center;
    width: 300px;
}
.resume .resume-content a:hover{
    background-color: black;
    color:crimson;
    
}
.resume .resume-content a:active{
    background-color: rgb(53, 145, 53);
}
footer,
.about,
.skills,
.contact
{
    font-family: "Dongle", sans-serif;
    background-image: url("white.jpg");
}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(24, 21, 21);
    transform: translateX(-50%);
}
.skills .title::after{
    content: "What I Know";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:rgb(255, 255, 255);
    transform: translateX(-50%);
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: justify;

}.skills .skills-content .left p{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: justify;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;

}
.skills .skills-content .right .bars .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right .span{
    font-weight: 500;
    font-size: 20px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background:yellow;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height:100%;
    left: 0;
    top: 0;
    background: crimson;
}
 .skills-content .right .html::before{
   width:90%;
}
.skills-content .right .css::before{
    width:80%;
}
.skills-content .right .js::before{
    width:50%;
}
.skills-content .right .java::before{
    width:60%;
}
.skills-content .right .python::before{
    width:40%;
}

.skills .skills-content .left a{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    padding: 1px 36px;
    margin-top: 20px;
    background-color: crimson;
    color: white;
    border:2px solid crimson;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    background-color: white;
    color: black;
}

.contact{
    background-image:url('contact.jpg') ;
    background-size: cover;
    color: white;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(255, 248, 248);
    transform: translateX(-50%);
}
.contact .title::after{
    content: "Keep In Touch With Me";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:rgb(12, 1, 1);
    transform: translateX(-50%);
}
.contact .contact-content .column{
    width: calc(50% - 30px)
}

.contact .contact-content .left{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items:center;
}
.contact .contact-content .row .info{
    margin-left:30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: darkgray;
}
.contact .right form .fields{
    display: flex;

}
.contact .right form .field,
.contact .right form .fields .field{
    height:45px;
    width:100%;
    margin-bottom: 15px ;
}
.contact .right form .textarea{
    height: 80px;
}
.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border:2px solid rgb(105, 105, 219);
    border-radius: 6px;
    outline:none ;
    padding: 0 15px;
    font-size: 24px;
    font-family: 'Dongle', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize:none;
}

.contact .right form .button{
    height:47px ;
    width: 170px;

}
.contact .right form .button button{
    border-radius: 6px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(204, 20, 0);
    background-color: crimson;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.contact .right form .button button:hover{
    background-color: white;
    color: crimson;
}

.contact .right form .button button:active{
    background-color: darkgreen;
    color: white;
}

footer{
    font-size: 20px;
    color: blanchedalmond;
    background: black;
    padding: 20px 20px;;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
































 
@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size:60px;
        
    }
    .home .home-content .text-3{
        font-size:25px;
    }
}

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height:350px;
        width:350px;

    }
}
@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    } 
    .menu-btn i.active.before{
        content:"\f00d";

    }
    .navbar .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: black;
        text-align:center;
        padding-top:80px ;
    }
    .navbar .nav-links.active{
        left: 0;

    }
    .navbar .nav-links li{
        display: block;
    }
    .navbar .nav-links li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width:50%;
    }
    
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex:100%;
    } 
    .resume .resume-content img{
        height:600px;
        width:390px;
        margin: 30px auto auto auto ; 
    }
    .contact .contact-content .column,
    .skills .skills-content .column{
        width: 100%;

    }
}
