body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background-image:url(olympic1.jpg);
    background-size: cover;

}

.box{
    width: 300px;
    padding:30px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:rgba(0,0,0,0.8);
    text-align: center;
    box-shadow: 0 0 4px 4px black;

}

.box h1{
    color:red;
    border: slateblue;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type='text'], .box input[type='password']
    {
        border: 0;
        background:none;
        display: block;
        margin: 20px auto;
        border: 3px solid blue;
        padding: 14px 10px;
        width:250px;
        outline: none;
        color: rgb(255, 255, 255);
        border-radius: 24px;
        transition: 0.25px;
        cursor:pointer;
        box-shadow: 0 0 3px 3px black;
}

.box input[type='text']:focus,.box input[type='password']:focus{
    width: 270px;
    border-color: rgb(74, 202, 57);
    background: white;
    color:rgb(0, 0, 0);
}
.box input[type='submit']
    {
        border: 0;
        font-size: 24px;
        background:blue;
        display: block;
        margin: 20px auto;
        border: 3px solid rgb(255, 255, 255);
        padding: 14px 100px;
        outline: none;
        color: rgb(244, 244, 245);
        border-radius: 10px;
        transition: 0.25px;
        cursor:pointer;
        box-shadow: 0 0 3px 3px black;
}
.box input[type='submit']:hover{
    background: rgb(96, 81, 230);
}
.box input[type='submit1']
    {
        text-align: center;
        background: none;
        border:none;
        font-size: 16px;
        display: block;
        margin: 20px auto;
        padding: 14px 10px;
        outline: none;
        color: rgb(244, 244, 245);
        transition: 0.25px;
        cursor:pointer;
}
.box input[type='submit1']:hover{
    background:none;
    text-decoration: underline ;
}
.box input[type='submit2']
    {
        border: 0;
        font-size: 24px;
        background:rgb(54, 180, 111);
        display: block;
        margin: 20px auto;
        border: 3px solid rgb(255, 255, 255);
        padding: 14px 10px;
        outline: none;
        color: rgb(244, 244, 245);
        border-radius: 10px;
        transition: 0.25px;
        cursor:pointer;
        box-shadow: 0 0 3px 3px black;
        text-align: center;
}
.box input[type='submit2']:hover{
    background: rgb(31, 165, 87);
}


